<!DOCTYPE html>
<html>
    <head>
        <title>UQRoute</title>
        <!-- Google analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-83224898-1', 'auto');
        ga('send', 'pageview');
        </script>
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
        <link rel="stylesheet" href="static/js/leaflet.routing.mapzen.css"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.css" />
        <link rel="stylesheet" href="static/js/leaflet-search.src.css"/>


        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <style>
* {
    color: #0072bb;
}
                        body {
                            padding: 0;
                            margin: 0;
                        }
                        html, body, #map {
                            width: 100%;
                            height: 100%;
                        }
        </style>
    </head>
    <body>
        <div id="map"></div>
    </body>
    <footer class="footer">
        <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script> 
        <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
        <script src="static/js/leaflet-routing-machine.js"></script>
        <script src="https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
        <script src="static/js/lrm-mapzen.js"></script>
        <script src="static/js/leaflet-search.src.js"></script>
        <script src="static/js/gps_path.js"></script>
        <script>
        document.onload= createMap();
        </script>
    </footer>
</html>
