<!DOCTYPE html>
<html>
<head>
<style>
table, td {
    border: 1px solid black;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

<p>Click the buttons to create and delete row(s) for the table.</p>
<form id='classes'>
    <table id="myTable">
      <tr>
        <td>Building Number</td>
        <td>Class</td>
      </tr>
      <tr>
        <td><input type='text' name='buildingnumber' placeholder='Building Number'></td>
        <td><input type='test' name='class' placeholder='Class Name'></td>
      </tr>
    </table>
</form>
<br>

<button onclick="myCreateFunction()">Add Class</button>
<button onclick="myDeleteFunction()">Remove Class</button>

<script>
function myCreateFunction() {
    var table = document.getElementById("myTable");
    var rowCount = $('#myTable tr').length;
    var row = table.insertRow(rowCount);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    cell1.innerHTML = "<input type='text' name='buildingnumber' placeholder='Building Number'>";
    cell2.innerHTML = "<input type='text' name='class' placeholder='Class Name'>";
}
function myDeleteFunction() {
    var rowCount = $('#myTable tr').length;
    if (rowCount != 1) {
    document.getElementById("myTable").deleteRow(rowCount-1);
    }
}
</script>

</body>
</html>

